@use '../themes/theme';

footer {
  text-align: center;
  width: 100vw;
  margin-top: 50px;

  p {
    color: theme.$mainWhite;
  }

  a {
    text-decoration: none;
    color: theme.$accent;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      content: "";
      width: 0;
      height: 1px;
      background: theme.$accent;
      transition: width 0.4s ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
