// Primary colors
$mainBackground: hsl(233, 47%, 7%);
$cardBackground: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

// Neutral Colors
$mainWhite: hsl(0, 0%, 100%);
$mainWhiteParagraph: hsla(0, 0%, 100%, 0.75);
$mainWhiteHeading: hsla(0, 0%, 100%, 0.6);
